{%extends 'network/_base.html'%}
{%block content%}

  <main class="container">
    <div class="row">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Дата</th>
      <th scope="col">ФИО</th>
      <th scope="col">Роль</th>
      <th scope="col">Чё сделал</th>
    </tr>
  </thead>

  <tbody>
   {%for action in actions%}
    <tr>
      <th scope="row">{{action.id}}</th>
      <td>{{action.date}}</td>
      <td>{{action.user.username }} {{action.user.firstname}}</td>
      {%for role in action.role.all%}
      <td>{{role.name}}</td>
      {%endfor%}
      <td>{{action.action}}</td>
    </tr>
  {%endfor%}
  </tbody>

</table>
    </div>
  </main>
{%endblock%}