{%extends 'network/_base.html'%}
{%block sidebar%}

{%endblock%}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">Авторизация</div>//ваш код внутри
  </div>
  <div class="row">
    <div class="col-xs-4">ID</div>//ваш код внутри
    <div class="col-xs-8">input</div>//ваш код внутри
  </div>
  <div class="row">
    <div class="col-xs-4">Пол</div>//ваш код внутри
    <div class="col-xs-8">радиобатоны</div>//ваш код внутри
  </div>
  <div class="row">
    <div class="col-xs-4">Проекты</div>ваш код внутри
    <div class="col-xs-8">Список</div>ваш код внутри
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">кнопка</div>ваш код внутри
  </div>
</div>
{%endblock%}